body {
    background: #f9f9f9;
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.content {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    padding: 2rem 2rem 1rem;
    margin: 0 auto 2rem;
    position: relative;
    border: 1px solid #e8e8e8;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1rem;
    width: 100%;
}

table tr {
    vertical-align: top;
    border-bottom: 1px solid #e8e8e8;
}

table td, table th {
    padding: .5rem 1rem .5rem 0;
}

table td.example {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table tr:first-child th:not(:only-of-type) {
    font-weight: 700;
    border-bottom: 2px solid #2ab27b;
    text-align: left;
}

table tr:last-child {
    border-bottom: none;
}

pre {
    margin: 0 0 1rem;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .875rem;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
    border: 1px solid #E8E8E8;
    padding: .1rem .4rem;
    border-radius: .2rem;
}

pre code {
    background: 0 0;
    border: none;
    padding: 0;
    color: #555459;
    font-size: inherit;
    white-space: pre;
}
