<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>python-server api docs</title>
</head>
<body>
<%
Object.keys(groups).forEach(groupName => {
    var groupMethods = groups[groupName]
%>
<h2><%= groupName %></h2>
<table>
    <tbody>
    <tr>
        <th>Method</th>
        <th>Description</th>
    </tr>
    <%
    groupMethods.forEach(method => {
    %>
    <tr>
        <td width="30%"><a href="docs/<%= method.name %>"><%= method.name %></a></td>
        <td width="70%"><%= method.description %></td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% }) %>
</body>
</html>
